@media screen and (max-width: 1200px) {
    #main-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
}

@media screen and (max-width: 600px) {
    .experience-timeline{
        margin: 50px auto;
    }
    .exp-timeline::after{
        left:32px;
    }
    .exp-container{
        width: 100%;
        padding-left:80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 12px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .exp-container-right{
        left: 0;
    }
    .exp-container-right, .exp-container img{
        left:10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid black;
        border-left:0;
        left: -16px;
    }
}

@media (max-width: 768px) {
    .tab-contents ul li {
        font-size: 14px;
    }

    .tab-contents p.section_text_about {
        font-size: 16px; 
    }
}

@media (max-width: 768px) {
    .skill-logo-container {
      width: 80px;
      height: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .skill-logo-container {
      width: 60px; 
      height: 60px;
      margin: 5px;
    }
    
    .skill-logo-container:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    
    .skill-name {
      bottom: -20px; 
      font-size: 0.8em; 
    }
  }

  @media (max-width: 768px) {
    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
        grid-gap: 30px;
    }

    .layer {
        padding: 15px;  
    }

    .layer h3 {
        font-size: 1rem; 
    }

    .layer p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .work-list {
        grid-template-columns: repeat(1, 1fr);  
        grid-gap: 20px;
    }

    .work img {
        width: 100%;  
        height: auto;
    }

    .layer {
        padding: 10px; 
    }

    .layer h3 {
        font-size: 0.9rem;
    }

    .layer p {
        font-size: 0.8rem;
    }
}