@media screen and (max-width: 1200px) {
    #main-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
}

@media screen and (max-width: 600px) {
    .experience-timeline{
        margin: 50px auto;
    }
    .exp-timeline::after{
        left:32px;
    }
    .exp-container{
        width: 100%;
        padding-left:80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 12px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .exp-container-right{
        left: 0;
    }
    .exp-container-right, .exp-container img{
        left:10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid black;
        border-left:0;
        left: -16px;
    }
}

@media (max-width: 768px) {
    .tab-contents ul li {
        font-size: 14px; /* Reduce font size on smaller screens */
    }

    .tab-contents p.section_text_about {
        font-size: 16px; /* Adjust font size for better readability on small screens */
    }
}

@media (max-width: 768px) {
    .skill-logo-container {
      width: 80px; /* Smaller size for medium screens */
      height: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .skill-logo-container {
      width: 60px; /* Even smaller size for small screens */
      height: 60px;
      margin: 5px;
    }
    
    /* Adjust hover effect for small screens to avoid overlap */
    .skill-logo-container:hover {
      transform: scale(1.1); /* Slightly smaller enlargement */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
    
    .skill-name {
      bottom: -20px; /* Adjust position for smaller container */
      font-size: 0.8em; /* Smaller font size */
    }
  }