@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Karla", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

a, btn{
    transition: 1000ms ease-in-out;
}

nav, .nav-head{
    display: flex;
    position: sticky;
}

nav{
    justify-content:space-around;
    align-items: center;
    height: 16vh;
}

.nav-head{
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(185, 185, 185);
}

.logo{
    width: 50px;
    height: 50px;
    display: flex;
}

.logo:hover{
    cursor:pointer;
}

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 32px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-heads{
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all  0.3 ease-in-out;
}

.menu-heads a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  

.menu-heads li{
    list-style: none;
}

.menu-heads.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
.hamburger-icon.open span:nth-child(2) {
opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
opacity: 0;
}

.hamburger-icon.open span:last-child {
transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
transform: none;
}

.hamburger-icon span:first-child {
opacity: 1;
}

.hamburger-icon span:first-child {
transform: none;
}

.profile_pic img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    margin-top: 28% ;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 8rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_text{
    align-self: center;
    text-align: center;
}

.section_text p{
    font-weight: 600;
}

.section_text_p1{
    text-align: center;
}

.section_text_p1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section_text_p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.name_title{
    font-size: 4rem;
    text-align: center;
}

#socials{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    display: flex;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease-in-out;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1,.btn-color-2:hover{
    background: rgb(53, 53, 53);
    color: white;    
}

.btn-color-1:hover{
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

.profile_pic_2 img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
}

.section_text_about{
    display: flex;
    text-align: justify;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 1.751rem;
}

#about{
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2{
    flex-basis: 60%;
}


.tab-titles{
    display: flex;
    margin: 50px 0 40px;
}

.tag-links{
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: 1000;
    cursor: pointer;
    position: relative;
    color: #000000;
    justify-content: space-between;
}

.tag-links::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.8s;
}

.tag-links.active-link::after{
    width: 70%;
    color: rgb(49, 48, 48);
}


.edu-icon{
    position: relative;
    right: 0.5rem;
    cursor:pointer;
    height: 2rem;
    display: flex;
}


.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    padding-block: 10px;
    border-left: 4px solid #050505;
    padding-left: 16px;
    border-bottom: 1px solid #ddd;
}

.tab-contents ul li span {
    display: block;
}

.tab-contents ul li:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
.about-icon {
    display: block;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
}
.about-containers{
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.about-details-container, .about-containers{
    display: flex;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.left-arrow {
    position: relative;
    left: -5rem;
    bottom: 2.5rem;
    cursor: pointer;
    height: 2rem;
}

.icon-1{
    position: relative;
    right: -5rem;
    bottom: -37rem;
    cursor:pointer;
    height: 2rem;
}
.details-containers{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.experience-timeline{
    position: relative;
    max-width: 1200px;
    margin: 5px auto;
}

.exp-container{
    padding: 10px 10px;
    position: relative;
    width: 50%;
    left: 51%;
    background-color: white;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.exp-container:nth-child(1){
    animation-delay: 1s;
}
.exp-container img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -40px;
    top: 32px;
    z-index: 10;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 2rem;
    font-size: 16px;
    text-align: justify;
}

.exp-container-right{
    left: -50px;
    padding: 10px 20px;
    position: relative;
    width: 50%;
    background: white;
}

.exp-container-right img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: -40px;
    top: 32px;
    z-index: 10;
}

.experience-timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #000000;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease;
}


@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

#experience:target .experience-timeline::after {
    animation: moveline 4s linear forwards;
    opacity: 1;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 30px;
    z-index: 1;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid black;
    right: 0px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 35px;
    z-index: 1;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid black;
    left: 4px;
}